.search-user-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-user-card .search-user-card-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 50px;
  list-style: none;
}

.search-user-card-c .name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.search-user-card-c .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
